<h1>Home Page</h1>

<!-- <div class="float">
  <button class="showButton">Get Contacts</button>
  <button class="hideButton hidden">Hide Contacts</button>
</div> -->
<!-- <div class="columns">
  <div class="column is-2 is-offset-4">
    <div id="name">
    </div>
  </div>
  <div class="column is-2">
   <div id="email">
   </div>
  </div>
</div> -->

<div class="columns results">
  <!-- <div class="results"> -->
    <div class="column col1">
    </div>
    <div class="column col2">
    </div>
    <div class="column col3">
    </div>
    <div class="column col4">
    </div>
    <div class="column col5">
    </div>
    <div class="column col6">
    </div>
  <!-- </div> -->
</div>


<div>
  <form class="addContact">
    <label>Name:</label>
    <input class="nameInput" type="text" name="name">
    <label>Email:</label>
    <input class="emailInput" type="text" name="email">
    <input type="submit" value="Submit">
</div>