<h1>Home Page</h1>

<div class="float">
  <button class="showButton">Get Contacts</button>
  <button class="hideButton hidden">Hide Contacts</button>
</div>
<div class="allResults" id="name"></div> <div class="allResults" id="email"></div>


<div>
  <form class="addContact">
    <label>Name:</label>
    <input class="nameInput" type="text" name="name">
    <label>Email:</label>
    <input class="emailInput" type="text" name="email">
    <input type="submit" value="Submit">
</div>